fastapi
uvicorn

asyncio
sqlalchemy
alembic
psycopg2-binary
pgvector

python-multipart

python-dotenv

openai
open-clip-torch
torch
Pillow
boto3

langgraph
langchain
langchain-openai
langchain-core
pydantic
langgraph-checkpoint-postgres

python-slugify
umap-learn
scikit-learn
plotly
pandas
hdbscan