fastapi
uvicorn
rich

cryptography
pyjwt
svix

asyncio
asgiref
sqlalchemy
alembic
psycopg[binary]


greenlet
pgvector

python-multipart

python-dotenv

openai
Pillow
boto3

langgraph
langchain
langchain-openai
langchain-core
pydantic
langgraph-checkpoint-postgres
langchain_tavily

python-slugify
umap-learn
scikit-learn
plotly
pandas

newspaper3k
lxml-html-clean